# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.venv/
env/
.env

# FastAPI
*.log

# Alembic migration logs
alembic/versions/__pycache__/

# Node modules
node_modules/

# macOS
.DS_Store

# IDE / Editor folders
.vscode/
